.back{
    background-image: url("https://image.jimcdn.com/app/cms/image/transf/dimension=1920x10000:format=jpg/path/se118ba7ce8eae247/image/if3c3597e36f664e3/version/1582031601/image.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.box {
    display: flex;
    width: 100%;
    height: 100vh;
    background: none;
    justify-content: center;
    align-items: center;
    }

    

.foot{
    justify-content: center;
    align-items: center;
    color: whitesmoke;
}